/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  max-width: 1500px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}

/* NAVBAR */
.navbar.top {
  background: transparent;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  /* z-index: 1; */
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease-in-out;
  z-index: 20 !important;
  max-width: 1500px;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out, color 1s ease-in-out;
}

.menu-items li a:hover {
  border-bottom: 1px solid red;
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  cursor: pointer;
  z-index: 20 !important;
}

.menu-btn-lines,
.menu-btn-lines::before,
.menu-btn-lines::after {
  width: 1.5rem;
  height: 0.2rem;
  background: #ebebeb;
  transition: all 0.5s ease-in-out;
}

.menu-btn-lines::before,
.menu-btn-lines::after {
  content: "";
  position: absolute;
}

.menu-btn-lines::before {
  transform: translateY(-0.45rem);
}

.menu-btn-lines::after {
  transform: translateY(0.45rem);
  z-index: 20 !important;
}


/* ANIMATION */
.menu-btn.open .menu-btn-lines {
  transform: translateX(2rem);
  background: transparent;
}

.menu-btn.open .menu-btn-lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #fff;
}

.menu-btn.open .menu-btn-lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #fff;
}


/* HEADER */
.header {
  background: url(../poze/4.jpg) no-repeat center center / cover;
  height: 100vh;
  position: relative;
}

.header-content {
  color: rgb(255, 255, 255);
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
}

.header * {
  z-index: 1;
}



/* ABOUT */
#about {
  padding: 50px;
}


.text h2 {
  margin-bottom: 20px;
}

#about .text {
  background: rgb(180, 6, 6);
  /* background: rgb(255, 0, 0); */
}




/* SERVICES */

#services {
  padding-top: 1px;
  background: rgb(228, 228, 228);
}

#services .grid-items4 {
  padding: 50px;
}

#services .item {
  margin-right: 20px;
  padding: 50px 30px;
  background: rgb(207, 207, 207);
  border-right: 2px solid rgb(197, 197, 197);
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

#services .item:hover {
  transform: scale(1.04);
}

#services .item:last-child {
  border-right: none;
  margin-right: 0;
}

#services .item h3 {
  padding: 5px 0;
  margin: 0 0 20px 0;
  font-size: 20px;
  border-bottom: 1.5px solid rgb(255, 0, 0);
}


/* GALLERY */
#gallery .grid-items4 {
  padding: 50px;
}

#gallery .grid-items4 a {
  margin-right: 7px;
}




/* BLOG */
#blog {
  padding: 150px 50px 50px 50px;
}

.header.blog {
  height: 30vh;
}

#blog .grid-items2 {
  margin-bottom: 50px;
}


/* CONTACT */
#contact {
  background: #000;
  padding-top: 50px;
}

#contact h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

#contact .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background: rgb(41, 41, 41);
  color: #fff;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}

#contact form input:hover,
#contact form textarea:hover {
  opacity: .9;
}

#contact form input:focus,
#contact form textarea:focus {
  outline-style: none;
}

#contact form textarea {
  height: 100px;
}

#contact form {
  padding: 50px;
  background: rgb(87, 87, 87);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(12, 12, 12);
}

/* ADDRESS */
address {
  background: rgb(41, 41, 41);
  color: #fff;
}

address .grid-items3 {
  text-align: center;
  padding: 50px;
}

address .item i {
  margin: 10px;
}

address .item h4 {
  margin: 10px;
}



/* FOOTER */
footer {
  background: #000;
  padding: 50px;
  color: rgb(61, 61, 61);
}



/* POST */
#post {
  background: rgb(24, 24, 24);
  color: rgb(236, 236, 236);
  padding-bottom: 100px;

}

#post article {
  padding: 0 250px;
  max-width: 1300px;
  margin: 0 auto;
}

#post article p {
  text-align: justify;
  line-height: 1.8;
}

#post article .paragraph {
  padding-bottom: 50px;
}
















/* MEDIAQUERIES  */
@media(max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background: rgb(26, 26, 26);
    transition: transform 0.5s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    width: 100vw;
    height: 100%;
  }

  .menu-items li a {
    color: #fff;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }


  /* GRID-ITEMS */
  .grid-items2 {
    display: block;
  }

  .grid-items3 {
    display: block;
  }

  .grid-items4 {
    display: block;
  }

  .header-content {
    padding: 0 10px;
  }




  /* ABOUT */
  #about {
    padding: 0;
  }

  .text {
    padding: 25px 20px;
  }

  #about img,
  #blog img {
    display: block;
  }



  /* GALLERY */
  #gallery .grid-items4 {
    padding: 7px;

  }

  #gallery .grid-items4 a {
    margin-right: 7px;
  }



  /* SERVICES */
  #services .grid-items4 {
    padding: 30px 0 0 0;
  }

  #services .item {
    padding: 25px 10px;
    border-bottom: 1px solid #000;
    margin-right: 0;
    box-shadow: none;
  }

  #services .item h3 {
    border-bottom: none;
  }

  #services .item:last-child {
    border-bottom: none;
  }

  #services .item:hover {
    transform: none;
  }




  /* BLOG */
  #blog {
    padding: 30px 0 0 0;
  }


  /* CONTACT */
  #contact .container {
    padding: 20px 20px;
  }

  #contact form {
    padding: 30px 0 0 0;
    background: none;
    box-shadow: none;
  }

  /* ADDRESS */
  address .grid-items3 {
    padding: 0;
  }

  address .item {
    border-bottom: 1px solid #000;
    padding: 20px 0;
  }


  address .item:last-child {
    border-bottom: none;
  }




  /* POST */
  #post article {
    padding: 0 20px;
  }

  #post article p {
    line-height: 1.6;
  }

}